* {
  -fx-font-family: monospace;
  /* -fx-font-size: 14px;  */
}

.root {
  -grafite-scuro: #2c3e50;
  -grafite-chiaro: #34495e;

  -bianco: #ecf0f1;
  -grigio-testo-secondario: #bdc3c7;
  -arancio-warning: #e67e22;
  -shadow-grey: rgb(83, 83, 83);

  -green-success: #8bc34a;
  -green-success-hover: #7eb143;
  -green-success-pressed: #689f38;

  -red-out: #d32f2f;
  -red-out-hover: rgb(163, 30, 30);
  -red-out-pressed: #b71c1c;

  -grafite-scuro: #2c3e50;
  -grafite-scuro-hover: #212f3d;
  -grafite-scuro-pressed: #1d2b3a;
  -grafite-molto-chiaro: #76abe4;
}

.main-pane {
  -fx-min-width: 1280px;
  -fx-min-height: 800px;
  -fx-background-color: #f5f5f5;
  -fx-padding: 20px;
}

.content-pane {
  -fx-min-width: 1132px;
  -fx-min-height: 646px;
  -fx-padding: 20px 20px 20px 20px;
}

.header-bar {
  -fx-background-color: #37474f;
  -fx-padding: 10px;
}

.header-bar Label,
.header-bar Button {
  -fx-text-fill: #ffffff;
  -fx-font-size: 18px;
  -fx-font-family: monospace;
}

.left-side-bar {
  -fx-background-color: #37474f;
  -fx-padding: 10px;
}

.label--container-header {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #37474f;
  -fx-padding: 10px 20px 10px 20px;
  -fx-alignment: center;
}

.label--section-header {
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-text-fill: #37474f;
  -fx-padding: 2px 5px 2px 5px;
  -fx-alignment: center;
}

.label-data-entry {
  -fx-font-size: 14px;
  -fx-font-weight: normal;
  -fx-text-fill: #37474f;
  -fx-alignment: center;
  -fx-padding: 2px 5px 2px 5px;
}

.label-highlight {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #4caf50;
  -fx-background-color: #e8f5e9;
  -fx-padding: 5px 10px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
}

.section-pane {
  -fx-background-color: white;
  -fx-background-radius: 10px;
  -fx-padding: 20px;
  -fx-spacing: 15px;
  -fx-effect: dropshadow(three-pass-box, rgb(83, 83, 83), 10, 0, 0, 5);
}
.section-pane-small {
  -fx-background-color: white;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-spacing: 15px;
  -fx-effect: dropshadow(three-pass-box, rgb(83, 83, 83), 10, 0, 0, 5);
}

.section-pane-minimal {
  -fx-background-color: white;
  -fx-background-radius: 5px;
  -fx-padding: 10px;
  -fx-spacing: 7px;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.section-pane--trailer {
  -fx-pref-height: 50;
  -fx-padding: 20px 20px 0px 20px;
}

.text-input,
.combo-box {
  -fx-background-color: white;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-prompt-text-fill: #999999;
  -fx-padding: 5px 10px;
  /* -fx-font-family: "Segoe UI", sans-serif; */
  /* -fx-font-family: monospace; */
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 5, 0, 0, 2);
  -fx-transition: -fx-border-color 0.2s ease, -fx-effect 0.2s ease;
}

/* .button {
  -fx-font-weight: bold;
  -fx-cursor: hand;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-padding: 10px 20px;
  -fx-transition: -fx-background-color 0.3s ease, -fx-effect 0.3s ease,
    -fx-scale 0.1s ease;
} */

.button {
  -fx-text-fill: white;
  -fx-border-width: 1px;
  -fx-padding: 8px 15px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-cursor: hand;
}
.button:hover {
  -fx-scale-y: 1.05;
}

.button-icon--main {
  -fx-pref-height: 80px;
  -fx-font-size: 16px;
  -fx-background-color: #37474f;
}

.button-icon {
  -fx-background-color: white;
}

.button-icon--main-color {
  -fx-background-color: #f5f5f5;
}

.button-full {
  -fx-text-fill: white;
  -fx-font-size: 13px;
  -fx-effect: dropshadow(three-pass-box, rgba(108, 117, 125, 0.4), 5, 0, 0, 2);
}
.button-full:hover {
  -fx-effect: dropshadow(three-pass-box, rgba(90, 98, 104, 0.6), 8, 0, 0, 4);
}

.button--final-action {
  -fx-background-color: #4caf50;
}
.button--final-action:hover {
  -fx-background-color: #45a049;
}
.button--final-action:pressed {
  -fx-background-color: #388e3c;
}

.button--progress-action {
  -fx-background-color: #8bc34a;
}
.button--progress-action:hover {
  -fx-background-color: #82b846;
}
.button--progress-action:pressed {
  -fx-background-color: #689f38;
}

.button--navigation {
  -fx-font-size: 18px;
  -fx-border-radius: 0px;
  -fx-background-radius: 0px;
  -fx-background-color: -grafite-scuro;
  -fx-text-fill: -bianco;
}
.button--navigation:hover {
  -fx-background-color: -grafite-scuro-hover;
}
.button--navigation:pressed {
  -fx-background-color: -grafite-scuro-pressed;
}
.button--navigation-seleced {
  -fx-background-color: -green-success;

  -fx-text-fill: -grafite-scuro;
}

.button--goback-action {
  -fx-background-color: transparent;
  -fx-border-color: #37474f;
  -fx-text-fill: #37474f;
}
.button--goback-action:hover {
  -fx-background-color: #eceff1;
  -fx-text-fill: #263238;
}
.button--goback-action:pressed {
  -fx-background-color: #cfd8dc;
}

.button--out-action {
  -fx-background-color: #d32f2f;
}
.button--out-action:hover {
  -fx-background-color: rgb(163, 30, 30);
}
.button--out-action:pressed {
  -fx-background-color: #b71c1c;
}

.table-view {
  -fx-background-radius: 6px;
  -fx-border-radius: 6px;
}

.table-view .filler {
  /*colonna fantasma*/
  -fx-background-color: white;
}

.table-view .column-header-background {
  -fx-border-color: #37474f;
  -fx-border-width: 0px 0px 1px 0px;
}

.table-view .label {
  /* -fx-text-fill: white; */
  -fx-font-weight: bold;
  -fx-font-size: 13px;
  -fx-padding: 8px 0 8px 0;
}

.table-row-cell {
  -fx-background-color: white;
  -fx-padding: 0.2em 0.1em 0.2em 0.1em;
}

.table-row-cell:odd {
  -fx-background-color: #f8f8f8;
}

.table-row-cell:selected {
  -fx-background-color: #e8f5e9;
}

.table-row-cell:selected .label {
  -fx-text-fill: #4caf50;
}

.table-cell {
  -fx-border-color: transparent #eeeeee transparent transparent;
  -fx-padding: 8px 5px 8px 5px;
  -fx-font-size: 12px;
}

.date-picker.styled-date-picker {
  -fx-font-size: 14px;
  -fx-background-color: white;
  -fx-border-color: #cccccc;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-padding: 5px;
}

.date-picker.styled-date-picker:focused {
  -fx-border-color: #8bc34a;
  -fx-border-width: 1.5px;
}

.date-picker.styled-date-picker > .arrow-button {
  -fx-background-color: transparent;
  -fx-border-radius: 0 4px 4px 0;
}

.date-picker.styled-date-picker > .arrow-button:hover {
  -fx-background-color: #eeeeee;
}

.date-picker.styled-date-picker > .arrow-button > .arrow {
  -fx-background-color: #37474f;
  -fx-padding: 5px;
  -fx-shape: "M 324.938 185.063 L 324.938 191.063 L 324.938 312.938 L 192.938 312.938 L 192.938 185.063 L 192.938 179.063 L 324.938 179.063 L 324.938 185.063 Z M 324.938 185.063";
}

.date-picker-popup .calendar-grid {
  -fx-background-color: white;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.date-picker-popup .day-cell:selected {
  -fx-background-color: #4caf50;
  -fx-text-fill: white;
}

.date-picker-popup .day-cell:hover {
  -fx-background-color: #e8f5e9;
}

.attivita-card--container {
  -fx-border-width: 5px;
  -fx-border-color: #4caf50;
}
